<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro - SoliGest</title>

</head>
<body>
  <header class="registar-header">
    <img src="logo.png" alt="SoliGest Logo" class="header-logo">
    <span class="header-title">SoliGest</span>
  </header>
  <div class="container">
    <div class="left-section">
      <img src="logo-large.png" alt="SoliGest">
    </div>
    <div class="right-section">
      <div class="form-container">
        <h2>Criar Conta/Registar</h2>
        <div class="form-group">
          <label>Nome Completo*</label>
          <input [(ngModel)]="registerData.username">
        </div>
        <div class="form-group">
          <label>Morada 1:</label>
          <input [(ngModel)]="addressLine1">
        </div>
        <div class="form-group">
          <label>Morada 2:</label>
          <input [(ngModel)]="addressLine2">
        </div>
        <div class="form-group">
          <label>Telemóvel*</label>
          <input [(ngModel)]="registerData.phoneNumber">
        </div>
        <div class="form-group">
          <label>Data de Nascimento</label>
          <input [(ngModel)]="registerData.birthDate" type="date">
        </div>
        <div class="form-group">
          <label>Email*</label>
          <input [(ngModel)]="registerData.email">
        </div>
        <div class="form-group">
          <label>Password*</label>
          <input [(ngModel)]="registerData.password">
        </div>
        <button class="submit-btn" (click)="register()">Submeter</button>

      </div>
    </div>
  </div>
  <footer>
    <p>Sistema de assistência a painéis solares</p>
    <a href="#">Ajuda (?)</a> | <a href="#">Criadores</a>
  </footer>
</body>
</html>
