<div class="page-wrapper">
  <app-header></app-header>

  <div class="content-container">
    <div class="metrics-container">
      <h2>Métricas de Performance</h2>
      <!-- Cards de Métricas -->
      <div class="cards-grid">
        <div class="metric-card" *ngIf="totalUsers !== null">
          <h4>Utilizadores</h4>
          <div class="metric-data">{{ totalUsers }}</div>
        </div>

        <div class="metric-card" *ngIf="totalPanels !== null">
          <h4>Painéis</h4>
          <div class="metric-data">{{ totalPanels }}</div>
        </div>

        <div class="metric-card" *ngIf="averageRepairTime !== null">
          <h4>Tempo Médio de Reparação</h4>
          <div class="metric-data">{{ averageRepairTime }} min</div>
        </div>

        <div class="metric-card" *ngIf="totalAssistanceRequests !== null">
          <h4>Total de Avarias</h4>
          <div class="metric-data">{{ totalAssistanceRequests }}</div>
        </div>
      </div>

      <!-- Gráfico -->
      <div class="metric-card">
        <div class="chart-container">
          <apx-chart [title]="chartOptions.title"
                     [series]="chartOptions.series"
                     [chart]="chartOptions.chart"
                     [labels]="chartOptions.labels"
                     [responsive]="chartOptions.responsive">
          </apx-chart>
        </div>
      </div>
      
    </div>
  </div>
  <app-footer></app-footer>
</div>
