################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SoliGest/.vs/SoliGest/FileContentIndex
SoliGest/.vs/ProjectEvaluation/soligest.metadata.v9.bin
SoliGest/.vs/ProjectEvaluation/soligest.projects.v9.bin
SoliGest/.vs/ProjectEvaluation/soligest.strings.v9.bin
SoliGest/.vs/SoliGest/v17/.futdcache.v2
SoliGest/.vs/SoliGest/v17/.suo
SoliGest/.vs/SoliGest/v17/.suo
/SoliGest/.vs/SoliGest/CopilotIndices/17.13.433.20974
