################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SoliGest/.vs/SoliGest/FileContentIndex
SoliGest/.vs/ProjectEvaluation/soligest.metadata.v9.bin
SoliGest/.vs/ProjectEvaluation/soligest.projects.v9.bin
SoliGest/.vs/ProjectEvaluation/soligest.strings.v9.bin
SoliGest/.vs/SoliGest/v17/.futdcache.v2
SoliGest/.vs/SoliGest/v17/.suo
SoliGest/.vs/SoliGest/v17/.suo
/SoliGest/.vs/SoliGest/CopilotIndices/17.13.433.20974
/SoliGest/.vs/SoliGest/DesignTimeBuild/.dtbcache.v2
/SoliGest/.vs/SoliGest/v17/.suo
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.AssemblyInfoInputs.cache
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.assets.cache
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.csproj.AssemblyReference.cache
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.GeneratedMSBuildEditorConfig.editorconfig
/SoliGest/SoliGest.Server/obj/Debug/net8.0/spa.proxy.json
/SoliGest/SoliGest.Server/obj/project.assets.json
/SoliGest/SoliGest.Server/obj/project.nuget.cache
/SoliGest/SoliGest.Server/obj/SoliGest.Server.csproj.nuget.dgspec.json
/SoliGest/SoliGest.Server/obj/SoliGest.Server.csproj.nuget.g.props
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.AssemblyInfo.cs
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.AssemblyInfoInputs.cache
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.assets.cache
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.csproj.AssemblyReference.cache
/SoliGest/SoliGest.Server/obj/Debug/net8.0/SoliGest.Server.GeneratedMSBuildEditorConfig.editorconfig
/SoliGest/SoliGest.Server/obj/Debug/net8.0/spa.proxy.json
/SoliGest/SoliGest.Server/obj/project.assets.json
/SoliGest/SoliGest.Server/obj/project.nuget.cache
/SoliGest/SoliGest.Server/obj/SoliGest.Server.csproj.nuget.dgspec.json
/SoliGest/SoliGest.Server/obj/SoliGest.Server.csproj.nuget.g.props
