<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registar Utilizador - SoliGest</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
  
</head>
<body>
  <app-header></app-header>

  <div class="container">
    <div class="left-section">
      <img src="/logo.jpg" alt="Ilustração de equipe">
    </div>
    <div class="right-section">
      <div class="form-container">
        <h2>Registar Novo Utilizador</h2>
        <form [formGroup]="funcionarioCreateForm" (submit)="register()">
          <div class="form-grid">
            <!-- Foto de perfil -->
            <div class="form-group">
              <label for="profilePic">Foto de perfil</label>
              <input type="file" id="profilePic" name="profilePic" formControlName="profilePic" (change)="onFileSelected($event)" required>
            </div>

            <!-- Nome Completo -->
            <div class="form-group full-width">
              <label for="name">Nome Completo</label>
              <!--<input type="text" id="nome" name="nome" [(ngModel)]="user.name" required>-->
              <input type="text" id="name" name="name" formControlName="name" autocomplete="on">
              <div class="error-feedback" *ngIf="funcionarioCreateForm.get('name')?.hasError('required') && funcionarioCreateForm.get('name')?.touched">
                Por favor introduza o seu nome.
              </div>
            </div>

            <!-- Email -->
            <div class="form-group">
              <label for="email">Email</label>
              <!--<input type="email" id="email" name="email" [(ngModel)]="user.email" required>-->
              <input type="email" id="email" name="email" formControlName="email" autocomplete="on">


              <div class="error-feedback" *ngIf="funcionarioCreateForm.get('email')?.hasError('required') && funcionarioCreateForm.get('email')?.touched">
                Por favor introduza o seu email.
              </div>
              <div class="error-feedback" *ngIf="funcionarioCreateForm.get('email')?.hasError('email') && funcionarioCreateForm.get('email')?.touched">
                Por favor insira um email válido.
              </div>

            </div>

            <!-- Telemóvel -->
            <div class="form-group">
              <label for="phoneNumber">Telemóvel</label>
              <input type="tel" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" required>
            </div>

            <!-- Morada 1 -->
            <div class="form-group">
              <label for="address1">Morada 1</label>
              <input type="text" id="address1" name="address1" formControlName="address1" required>
            </div>

            <!-- Morada 2 -->
            <div class="form-group">
              <label for="address2">Morada 2 (Opcional)</label>
              <input type="text" id="address2" name="address2" formControlName="address2">
            </div>

            <!-- Data de Nascimento -->
            <div class="form-group">
              <label for="birthDate">Data de Nascimento</label>
              <input type="date" id="birthDate" name="birthDate" formControlName="birthDate" required>
            </div>

            <!-- Password -->
            <div class="form-group">
              <label for="password">Password</label>
              <!--<input type="password" id="password" name="password" [(ngModel)]="user.password"
    (input)="checkPasswordStrength()" required>-->
              <input type="password" id="password" name="password" formControlName="password"
                     (input)="checkPasswordStrength()">
              <div class="password-strength">
                <div class="strength-bar" [style.width]="passwordStrength + '%'"
                     [style.background]="getPasswordStrengthColor()"></div>
              </div>

              <div class="error-feedback" *ngIf="funcionarioCreateForm.get('password')?.hasError('required') && funcionarioCreateForm.get('password')?.touched">
                Por favor introduza a sua palavra-passe.
              </div>
              <div class="error-feedback" *ngIf="funcionarioCreateForm.get('password')?.hasError('minlength') && funcionarioCreateForm.get('password')?.touched">
                A Palavra-passe deve ter pelo menos 6 caracteres.
              </div>
              <div class="error-feedback" *ngIf="funcionarioCreateForm.get('password')?.hasError('pattern') && funcionarioCreateForm.get('password')?.touched">
                A Palavra-passe deve incluir pelo menos 1 caracteres especial.
              </div>

            </div>

            <!-- Confirmar Password -->
            <div class="form-group">
              <label for="confirmPassword">Confirmar Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" />
              <!--[(ngModel)]="user.confirmPassword" required>-->
              <div class="error-feedback" *ngIf="funcionarioCreateForm.hasError('passwordMismatch') && funcionarioCreateForm.get('confirmPassword')?.touched">
                As palavras-passes não coincidem.
              </div>
            </div>

            <!-- Cargo -->
            <div class="form-group">
              <label for="cargo">Cargo</label>
              <select id="cargo" name="cargo" formControlName="role">
                <option>Supervisor</option>
                <option>Administrativo</option>
                <option>Técnico</option>
              </select>
            </div>
          </div>

          <!-- Folgas do Mês -->
          <div class="form-group">
            <label for="folgasMes">Folga semanal:</label>
            <select id="dayOff" name="dayOff" formControlName="dayOff">
              <option>Segunda-feira</option>
              <option>Terça-feira</option>
              <option>Quarta-feira</option>
              <option>Quinta-feira</option>
              <option>Sexta-feira</option>
              <option>Sábado</option>
              <option>Domingo</option>
            </select>
          </div>

          <!-- Inicio Férias -->
          <div class="form-group">
            <label for="startHoliday">Inicio Férias:</label>
            <input type="date" id="startHoliday" name="startHoliday" formControlName="startHoliday">
          </div>

          <!-- Final Férias -->
          <div class="form-group">
            <label for="endHoliday">Final Férias:</label>
            <input type="date" id="endHoliday" name="endHoliday" formControlName="endHoliday">
          </div>
          <!--<div class="form-group">
    <label for="folgasMes">Folgas do Mês (até 5 dias)</label>
    <input type="date" (change)="adicionarFolga()" name="folgasMes" id="folgasMes">
    <div *ngIf="folgasMes.length > 0" class="date-selections">
      <p>Dias selecionados:</p>
      <ul class="date-list">
        <li *ngFor="let dia of folgasMes; let i = index">
          {{ dia | date: 'dd/MM/yyyy' }}
          <button type="button" class="small-btn" (click)="removerFolga(i)">Remover</button>
        </li>
      </ul>
      <button type="button" (click)="limparFolgas()">Limpar Todas</button>
    </div>
    <div *ngIf="folgasMes.length >= 5" class="error-feedback">
      Limite de 5 dias de folga atingido
    </div>
  </div>-->
          <!-- Férias do Ano -->
          <!--<div class="form-group">
    <label for="feriasInicio">Férias do Ano:</label>
    <div>
      <input type="date" name="feriasInicio" id="feriasInicio">
      <button type="button" (click)="adicionarFerias()">Adicionar Período</button>
    </div>
    <div *ngIf="feriasAno.length > 0" class="date-selections">
      <p>Períodos selecionados:</p>
      <ul class="date-list">
        <li *ngFor="let periodo of feriasAno; let i = index">
          {{ periodo.inicio | date: 'dd/MM/yyyy' }} - {{ periodo.fim | date: 'dd/MM/yyyy' }}
          <button type="button" class="small-btn" (click)="removerFerias(i)">Remover</button>
        </li>
      </ul>
      <button type="button" (click)="limparFerias()">Limpar Todos</button>
    </div>
    <div *ngIf="feriasAno.length >= 2" class="error-feedback">
      Limite de 2 períodos de férias atingido
    </div>
  </div>-->

          <button type="submit" class="submit-btn">
            Registar Utilizador
          </button>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</body>
</html>
