<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alteração de Password - SoliGest</title>

  
</head>
<body>
  <app-header></app-header>

  <div class="container">
    <div class="left-section">
      <img src="/logo.jpg" alt="SoliGest Logo" class="logo">
      <h1 class="title">SoliGest</h1>
      <p class="subtitle">Technical Assistance for Solar Panels</p>
    </div>
    <div class="right-section">
      <h2>Alteração de Password</h2>
      <form [formGroup]="resetPasswordForm" (submit)="resetPasssword()">
        <div class="form-group">
          <label for="newPassword">Nova Password:</label>
          <input type="password" id="newPassword" name="newPassword" placeholder="Digite sua nova senha" formControlName="newPassword" required>
          <div class="error-feedback" *ngIf="resetPasswordForm.get('newPassword')?.hasError('required') && resetPasswordForm.get('newPassword')?.touched">
            Por favor introduza a sua palavra-passe.
          </div>
          <div class="error-feedback" *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength') && resetPasswordForm.get('newPassword')?.touched">
            A Palavra-passe deve ter pelo menos 6 caracteres.
          </div>
          <div class="error-feedback" *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern') && resetPasswordForm.get('newPassword')?.touched">
            A Palavra-passe deve incluir pelo menos 1 caracteres especial.
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmar Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme sua nova senha" formControlName="confirmPassword" required>
          <div class="error-feedback" *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched">
            As palavras-passes não coincidem.
          </div>
        </div>
        <button type="submit" class="submit-btn">Alterar Password</button>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</body>
</html>
