<h4>Detalhes do Funcionário: </h4>
<div *ngIf="funcionario">
  <h4>{{ funcionario.nome | uppercase }}</h4>

  <div>
    <p><strong>ID: </strong> {{ funcionario.id }}</p>

    <p><strong>Nome: </strong> {{ funcionario.nome }}</p>

    <p><strong>Cargo: </strong> {{ funcionario.cargo }}</p>

    <p><strong>E-mail: </strong> {{ funcionario.email }}</p>

    <p><strong>Data de Nascimento: </strong> {{ funcionario.dataNascimento | date:'dd/MM/yyyy' }}</p>

    <p><strong>Telemóvel: </strong> {{ funcionario.telemovel }}</p>

    <p><strong>Dia de Folga: </strong> {{ funcionario.diaFolga }}</p>

    <p><strong>Período de Férias: </strong> {{ funcionario.feriasInicio | date:'dd/MM/yyyy' }} - {{ funcionario.feriasFim | date:'dd/MM/yyyy' }}</p>
  </div>

  <a routerLink="/funcionarios" class="btn btn-primary">Voltar</a>
</div>
