<div class="page-wrapper">
  <app-header></app-header>

  <div class="content-container">
    <div class="left-section">
      <div class="panels-section">
        <h2>Avarias</h2>

        <div class="sort-container">
          <div class="sort-options">
            <label for="search-bar">Procurar:</label>
            <input type="text" id="search-bar" class="search-input" [(ngModel)]="searchTerm" (input)="filterAvarias()" placeholder="Rua ou Cidade" />

            <label for="sort-by">Ordenar por:</label>
            <select id="sort-by" class="sort-dropdown" [(ngModel)]="sortBy" (change)="sortAvarias()">
              <option value="priority">Prioridade</option>
              <option value="name">Nome</option>
              <option value="id">ID</option>
              <option value="status">Estado</option>
            </select>
            <select id="sort-direction" class="sort-dropdown" [(ngModel)]="sortDirection" (change)="sortAvarias()">
              <option value="asc">Crescente</option>
              <option value="desc">Decrescente</option>
            </select>
          </div>
          <div class="sort-actions">
            <button class="create-btn" (click)="openCreateModal()">
              <i class="fas fa-plus"></i> Criar Avaria
            </button>
          </div>
        </div>

        <div class="panels-container" *ngIf="filteredAvarias && filteredAvarias.length > 0; else noAvariasMessage">
          <div class="panel" *ngFor="let avaria of filteredAvarias" [ngClass]="getAvariaClass(avaria)" (click)="selectAvaria(avaria)">
            <div class="panel-header">
              <h3>Avaria ID: {{ avaria.id }}</h3>
              <div class="panel-actions-container">
                <button class="action-btn view-btn" (click)="selectAvaria(avaria); $event.stopPropagation()">
                  <i class="fas fa-eye"></i>Consultar
                </button>
                <button class="action-btn edit-btn" (click)="openEditModal(avaria); $event.stopPropagation()">
                  <i class="fas fa-edit"></i>Editar
                </button>
                <button class="action-btn delete-btn" (click)="openDeleteConfirm(avaria); $event.stopPropagation()">
                  <i class="fas fa-trash"></i>Apagar
                </button>
              </div>
            </div>
            <p>{{ avaria.solarPanel.name }}</p>
            <p *ngIf="avaria.priority">Prioridade: {{ avaria.priority }}</p>
            <p class="status-text">Estado: {{ avaria.status }}</p>
            <div class="aloc-buttons">
              <button class="manual-aloc" (click)="openManualAllocateModal(avaria); $event.stopPropagation()">Alocar Manualmente</button>
              <button class="auto-aloc" (click)="openAutoAllocateModal(avaria); $event.stopPropagation()">Alocar Automaticamente</button>
            </div>
          </div>
        </div>

        <ng-template #noAvariasMessage>
          <p class="no-panels-message">Nenhuma avaria encontrada.</p>
        </ng-template>
      </div>
    </div>

    <div class="right-section">
      <div class="map-container">
        <h2>Localização dos Painéis com Avarias</h2>
        <div id="map"></div>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="showEditModal">
    <div class="modal-content">
      <span class="close" (click)="onCloseEditModal()">&times;</span>
      <h2>Editar Avaria ID: {{selectedAvaria?.id}}</h2>
      <form (ngSubmit)="editarAvaria()">
        <div class="form-group">
          <label for="edit-panel">Painel:</label>
          <select id="edit-panel" [(ngModel)]="selectedPanelId" name="edit-panel" class="form-control">
            <option *ngFor="let panel of panels" [value]="panel.id">Painel ID {{ panel.id }}, {{ panel.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="edit-technician">Funcionário Alocado:</label>
          <select id="edit-technician" [(ngModel)]="selectedTechnicianId" name="edit-technician" class="form-control">
            <option [ngValue]="null">N/A (Remover Técnico)</option>
            <option *ngFor="let user of availableTechnicians" [ngValue]="user.id">
              {{ user.name }} (ID: {{ user.id }})
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="edit-priority">Prioridade:</label>
          <select id="edit-priority" [(ngModel)]="selectedPriority" name="edit-priority" class="form-control">
            <option value="Alta">Alta</option>
            <option value="Média">Média</option>
            <option value="Baixa">Baixa</option>
          </select>
        </div>
        <div class="form-group">
          <label for="edit-status">Estado:</label>
          <select id="edit-status" [(ngModel)]="selectedStatus" name="edit-status" class="form-control">
            <option value="Vermelho">Vermelho</option>
            <option value="Amarelo">Amarelo</option>
            <option value="Verde">Verde</option>
          </select>
        </div>
        <div class="form-group" *ngIf="selectedAvaria">
          <label for="edit-description">Descrição:</label>
          <textarea id="edit-description" [(ngModel)]="selectedAvaria.description" name="edit-description" class="form-control"></textarea>
        </div>
        <div class="form-actions">
          <button type="button" class="cancel-btn" (click)="onCloseEditModal()">Cancelar</button>
          <button type="submit" class="confirm-btn">Atualizar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="onCloseModal()">&times;</span>
      <h2>Criar Nova Avaria</h2>
      <form (ngSubmit)="criarAvaria()">
        <div class="form-group">
          <label for="create-panel">Painel:</label>
          <select id="create-panel" [(ngModel)]="selectedPanelId" name="create-panel" class="form-control" required>
            <option *ngFor="let panel of panels" [value]="panel.id">Painel ID {{ panel.id }}, {{ panel.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="create-priority">Prioridade:</label>
          <select id="create-priority" [(ngModel)]="selectedPriority" name="create-priority" class="form-control" required>
            <option value="Alta">Alta</option>
            <option value="Média">Média</option>
            <option value="Baixa">Baixa</option>
          </select>
        </div>
        <div class="form-group">
          <label for="create-status">Estado:</label>
          <select id="create-status" [(ngModel)]="selectedStatus" name="create-status" class="form-control" required>
            <option value="Vermelho">Vermelho</option>
            <option value="Amarelo">Amarelo</option>
            <option value="Verde">Verde</option>
          </select>
        </div>
        <div class="form-group">
          <label for="edit-technician">Funcionário Alocado:</label>
          <select id="edit-technician" [(ngModel)]="selectedTechnicianId" name="edit-technician" class="form-control">
            <option [ngValue]="null">N/A (Não alocar por agora)</option>
            <option *ngFor="let tech of availableTechnicians" [ngValue]="tech.id">
              {{ tech.name }} (ID: {{ tech.id }})
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="create-description">Descrição:</label>
          <textarea id="create-description" [(ngModel)]="newAvariaDescription" name="create-description" class="form-control"></textarea>
        </div>
        <div class="form-actions">
          <button type="button" class="cancel-btn" (click)="onCloseModal()">Cancelar</button>
          <button type="submit" class="confirm-btn">Criar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" *ngIf="showDeleteConfirm">
    <div class="modal-content">
      <span class="close" (click)="onCloseDeleteConfirm()">&times;</span>
      <h2>Confirmar Exclusão</h2>
      <p>Tem certeza que deseja excluir a avaria ID: {{selectedAvaria?.id}}?</p>
      <div class="form-actions">
        <button type="button" class="cancel-btn" (click)="onCloseDeleteConfirm()">Cancelar</button>
        <button type="button" class="confirm-btn" (click)="apagarAvaria()">Confirmar</button>
      </div>
    </div>
  </div>

  <!-- Modal para alocação manual -->
  <div class="modal" *ngIf="isManualAllocateModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeManualAllocateModal()">&times;</span>
      <h2>Alocar Funcionário á Avaria ID: {{ selectedAvaria?.id }}</h2>
      <p><strong>Painel:</strong> {{ selectedAvaria?.solarPanel?.name }}</p>
      <p><strong>Descrição:</strong> {{ selectedAvaria?.description }}</p>

      <h3>Funcionários Disponíveis:</h3>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Cargo</th>
              <th>Ativo</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of availableTechnicians">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.role }}</td>
              <td class="status-dot-cell">
                <span class="status-dot"
                      [ngClass]="user.isActive ? 'green-dot' : 'red-dot'"
                      title="{{ user.isActive ? 'Ativo' : 'Inativo' }}"></span>
              </td>
              <td>
                <button class="allocate-btn" (click)="allocateToUser(user)">Alocar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="cancel-btn" (click)="closeManualAllocateModal()">Cancelar</button>
    </div>
  </div>


  <!-- Modal para alocação automática -->
  <div class="modal" *ngIf="isAutoAllocateModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeAutoAllocateModal()">&times;</span>
      <h2>Alocação automática á Avaria ID: {{ selectedAvaria?.id }}</h2>
      <p><strong>Painel:</strong> {{ selectedAvaria?.solarPanel?.name }}</p>
      <p><strong>Descrição:</strong> {{ selectedAvaria?.description }}</p>
      <h3>Funcionário Selecionado:</h3>
      <p *ngIf="autoAllocationCandidate">
        <strong>ID:</strong> {{ autoAllocationCandidate.id }} <br>
        <strong>Nome:</strong> {{ autoAllocationCandidate.name }} <br>
        <strong>Cargo:</strong> {{ autoAllocationCandidate.role }} <br>
        <strong>Ativo: </strong><span class="status-dot" [ngClass]="autoAllocationCandidate.isActive ? 'green-dot' : 'red-dot'" title="{{ autoAllocationCandidate.isActive ? 'Ativo' : 'Inativo' }}"> </span>
      </p>
      <p *ngIf="!autoAllocationCandidate">Nenhum funcionário disponível.</p>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeAutoAllocateModal()">Cancelar</button>
        <button class="confirm-btn" (click)="confirmAutoAllocation()" [disabled]="!autoAllocationCandidate">Confirmar</button>
      </div>
    </div>
  </div>



  <app-footer></app-footer>
</div>
