body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  min-height: 100vh;
}

/* Cabeçalho fixo */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #37AFE1;
  color: black;
  padding: 15px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
}

.header-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.create-button-container {
  margin-top: 120px; /* Espaçamento para não ficar atrás da barra de navegação */
  width: 80%; /* Mesma largura da tabela */
  display: flex;
  justify-content: flex-start; /* Alinha o botão à esquerda */
  /*margin-bottom: 20px;*/ /* Espaçamento entre o botão e a tabela */
}

.create-button {
  background-color: #FFC300; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro */
  font-size: 16px; /* Tamanho da fonte */
}

  .create-button:hover {
    background-color: #ffd800; /* Cor de fundo ao passar o mouse */
  }

.table-container {
  margin-top: 20px; /* Espaçamento entre o botão e a tabela */
}

/* Botão de criação */
.add-delete-button-container {
  gap: 5px;
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.add-button, .delete-selected-button {
  background-color: #FFC300;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

  .add-button:hover, .delete-selected-button:hover {
    background-color: #ffd800;
    transform: translateY(-2px);
  }

  .add-button:disabled, .delete-selected-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
  }

/* Container da tabela */
.table-container {
  width: 80%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #FFC300;
  color: black;
  position: sticky;
  top: 70px;
  z-index: 10;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.select-cell {
  text-align: center;
}

/* Estilo para os botões de ação na tabela */
.action-button {
  margin: 2px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

  .action-button:hover:not(:disabled) {
    opacity: 0.9;
  }

  .action-button:disabled {
    background-color: #cccccc !important;
    color: #666666;
    cursor: not-allowed;
  }

footer {
  text-align: center;
  background-color: #37AFE1;
  color: black;
  padding: 15px;
  width: 100%;
  margin-top: auto;
}

  footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
  }

    footer a:hover {
      text-decoration: underline;
    }

/* Responsividade */
@media (max-width: 768px) {
  .add-delete-button-container, .table-container {
    width: 95%;
  }

  th {
    top: 60px;
  }
}

/* Estilização dos Modais */
.modal, .modal2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1003; /* Aumentei para garantir que esteja sobre a tabela */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  width: 400px;
}

  /* Título do modal */
  .modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  /* Botões no modal */
  .modal-content .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

/* Avatar */
.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-right: 20px;
}

.modal-profile {
  display: flex;
  flex-direction: column;
}

.modal-profile-details {
  margin-left: 10px;
}

.modal-profile-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Botão de fechar */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

  .close:hover {
    color: black;
  }
