<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela - SoliGest</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
</head>
<body>

  <header class="header">
    <img src="/logo.jpg" alt="SoliGest Logo" class="header-logo">
    <h1 class="header-title">SoliGest</h1>
  </header>

  <div class="table-container">
    <h2>Lista de Utilizadores Ativos</h2>
    <table>
      <thead>
        <tr>
          <th>Selecionar</th>
          <th>ID</th>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Email</th>
          <th>Data de Nascimento</th>
          <th>Telemóvel</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users"
            [class.table-primary]="isSelected(user)">
          <td class="select-cell">
            <input type="checkbox"
                   [checked]="isSelected(user)"
                   (change)="onSelectUser(user, $event)">
          </td>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.birthDate }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <!-- Botões de Ação -->
            <button routerLink="/funcionario-edit"
                    [disabled]="!isSelected(user)">
              Editar
            </button>
            <button (click)="onDetails(user)"
                    [disabled]="!isSelected(user)">
              Detalhes
            </button>
            <button (click)="onDelete(user)"
                    [disabled]="!isSelected(user)">Apagar
            </button>
            <button routerLink="/funcionario-create"
                    [disabled]="!isSelected(user)">
              <!-- Desabilita se nenhum utilizador estiver selecionado -->
              Adicionar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer>
    <p>Sistema de assistência a painéis solares</p>
    <a href="#">Ajuda (?)</a> | <a href="#">Criadores</a>
  </footer>

</body>
</html>
