<div id="upperMenu">
  <p>SoliGest</p><br />
  <p>Menu</p>
  <div id="profile">
    <img src="profileIcon.png" />
  </div>
</div>
<div id="menuOptions">
  <div class="option">
    <p>Gestão das Avarias</p>
    <img src="arrowLeft.png" />
  </div>
  <div class="option">
    <p>Funcionários</p>
    <img src="arrowLeft.png" />
  </div>
  <div class="option">
    <p>Métricas</p>
    <img src="arrowLeft.png" />
  </div>
  <div class="option">
    <p>Paineis</p>
    <img src="arrowLeft.png" />
  </div>
  <div class="option">
    <p>Mapa</p>
    <img src="arrowLeft.png" />
  </div>
</div>
<div id="lowerMenu">
  <p>Ajuda</p>
  <img src="helpIcon.png" />
  <br />
  <p>Definições</p>
</div>
<div id="map">
  <div id="mapOptions">
    <img src="mapDefinitions.png" />
  </div>
  <img src="map.png"/>
</div>

