<div id="sideMenu">
  <div id="upperMenu">
    <h1>SoliGest</h1><br />
    <a id="profile" (click)="signOut()">
      <img src="profileIcon.png" />
    </a>
    <h2>
      <a href="#">
        <span>Menu</span>
        <img id="menuIcon" src="menuIcon.png" />
      </a>
    </h2>
  </div>
  <div id="menuOptions">
    <a href="#">
      <span>Gestão das Avarias</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Funcionários</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Métricas</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Paineis</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Mapa</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
  </div>
  <div id="lowerMenu">
    <a href="#">
      <span>Ajuda</span>
      <img src="helpIcon.png" />
      <br />
    </a>
    <a href="#">
      <p>Criadores</p>
    </a>
  </div>
</div>
<div id="map">
  <div id="mapOptions">
    <img src="mapDefinitions.png"/>
    <div id="mapFilters">
      <table>
        <tr>
          <td>
            <span>Técnicos</span>
            <img src="arrowUp.png" />
            <img src="arrowDown.png" />
          </td>
        </tr>
        <tr>
          <td>
            <span>Paineis</span>
            <img src="arrowUp.png" />
            <img src="arrowDown.png" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <img src="map.png" />
</div>

