<div id="sideMenu">
  <div id="upperMenu">
    <h1>SoliGest</h1><br />
    <h2>
      <a href="#">Menu</a>
    </h2>
    <a href="#" id="profile">
      <img src="profileIcon.png" />
    </a>
  </div>
  <div id="menuOptions">
    <a href="#">
      <span>Gestão das Avarias</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Funcionários</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Métricas</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Paineis</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
    <a href="#">
      <span>Mapa</span>
      <img src="arrowLeft.png" />
      <br />
    </a>
  </div>
  <div id="lowerMenu">
    <a href="#">
      <p>Ajuda</p>
      <img src="helpIcon.png" />
      <br />
    </a>
    <a href="#">
      <p>Definições</p>
    </a>
  </div>
</div>
<div id="map">
  <div id="mapOptions">
    <img src="mapDefinitions.png" width="100" height="100"/>
  </div>
  <img src="map.png" />
</div>

